header {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    height: 100%;
    align-self: flex-end;
 }
 header a {
    color: rgb(197, 24, 111);
    text-decoration: none;
 }
 header a:hover {
    text-decoration: underline;
 }
 
 nav {
    align-self: flex-end;
    padding-bottom: 5px;
 }
 nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
     
 }
 
 h2 { color: rgb(197, 24, 111); }

 nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 35 px;
    bottom: 0;
 }

table { border-collapse: collapse;}
tr td { border-bottom: 1px solid grey; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; }
tr th { border-bottom: 5px solid black ; padding-top: 5px; padding-bottom: 5px; padding-left: 5px;  }

.container { 
   padding: 0px; 
   margin: 0px; 
   height: 50px; 
   bottom: 0;
   border-bottom: solid 5px rgb(197, 24, 111); 
   display: flex;
}

a {
   color: rgb(134, 130, 130);
   text-decoration: none;
}

a:hover {
   color: rgb(197, 24, 111);
   text-decoration:underline;
}

.button-2 {
  background-color: rgb(197, 24, 111);
  border: none;
  color: white;
  border-radius: 8px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

input[type=button], input[type=submit] {
  background-color: lightgray;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}